<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<virtualType name="VuefrontBlogUiDataProviderCategoryFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
    <arguments>
        <argument name="modifiers" xsi:type="array">
            <item name="category_data" xsi:type="array">
                <item name="class" xsi:type="string">Vuefront\Blog\Ui\DataProvider\Category\Form\Modifier\CategoryData</item>
                <item name="sortOrder" xsi:type="number">10</item>
            </item>
        </argument>
    </arguments>
</virtualType>
    <type name="Vuefront\Blog\Model\Category\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">VuefrontBlogUiDataProviderCategoryFormModifierPool</argument>
        </arguments>
    </type>


    <virtualType name="VuefrontBlogUiDataProviderPostFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
    <arguments>
        <argument name="modifiers" xsi:type="array">
            <item name="post_data" xsi:type="array">
                <item name="class" xsi:type="string">Vuefront\Blog\Ui\DataProvider\Post\Form\Modifier\PostData</item>
                <item name="sortOrder" xsi:type="number">10</item>
            </item>
        </argument>
    </arguments>
</virtualType>
    <type name="Vuefront\Blog\Model\Post\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">VuefrontBlogUiDataProviderPostFormModifierPool</argument>
        </arguments>
    </type>
</config>
